<%- include("partials/header") %>

  <!-- Main Content -->
  <header
    class="container vh-100 d-flex justify-content-center align-items-center"
  >
    <div class="d-flex flex-column justify-content-center align-items-center">
      <img class="w-25 rounded" src="/img/foto.png" alt="logo" />
      <h1 class="text-uppercase fw-bold">Iglesia Evangelica de Vilassar de Mar</h1>
    </div>
  </header>
  <%- include("partials/footer") %>



